# Basic List Comprehension

Create a list of squares of numbers from 1 to 10 using list comprehension.

In [11]:
 [i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Generate a list of even numbers from 1 to 20 using list comprehension.

In [12]:
[ i for i in range(1,21) if i % 2 ==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of the first letters of each word in the list: ["apple", "banana", "cherry", "date"].

In [25]:
l = ["apple", "banana", "cherry", "date"]
[i[0] for i in l]

['a', 'b', 'c', 'd']

Convert a list of temperatures in Celsius [0, 10, 20, 30, 40] to Fahrenheit using list comprehension. (Formula: F = (C * 9/5) + 32)

In [24]:
celsius = [0, 10, 20, 30, 40]
[(c * 9/5) + 32 for c in celsius]

[32.0, 50.0, 68.0, 86.0, 104.0]

Create a list of the first 10 natural numbers using list comprehension.

In [13]:
natural = [ i for i in range(1,11)]
print(natural)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Generate a list of cubes of numbers from 1 to 10.

In [23]:
cubes = [ i**3 for i in  range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Extract the first character from each word in the list: ["apple", "banana", "cherry", "date"].

In [21]:
l = ["apple", "banana", "cherry", "date"]
[i[0] for i in l]

['a', 'b', 'c', 'd']

Given a string "Python is fun", create a list of words in the string.

In [20]:
s = "Python is fun"
s.split()

['Python', 'is', 'fun']

Convert a list of strings ["Hello", "World", "Python"] to uppercase using list comprehension.

In [2]:
strings = ["Hello", "World", "Python"]
[s.upper() for s in strings]

['HELLO', 'WORLD', 'PYTHON']

 # Conditional List Comprehension

Create a list of numbers from 1 to 50 that are divisible by both 3 and 5.

In [29]:
l = range(1,51)
[ i for i in l if i %3 == 0 and i % 5==0]

[15, 30, 45]

Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], create a new list containing only the odd numbers.

In [31]:
l = [1,2,3,4,5,6,7,8,9,10]
[ i for i in l if i %2!=0]

[1, 3, 5, 7, 9]

Given a string "hello world", create a list of vowels present in the string.

In [35]:
s =  "hello world"
[ i for i in s if i in 'aeiou']

['e', 'o', 'o']

Convert a list of words ["Hello", "WORLD", "Python", "LiSt"] to lowercase using list comprehension.

In [3]:
list = ["Hello", "WORLD", "Python", "LiSt"]
[l.lower() for l in list]

['hello', 'world', 'python', 'list']

Create a list of even numbers from 1 to 50.

In [5]:
[ i for i in range(1,51) if i %2 ==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

Generate a list of numbers from 1 to 20 that are not divisible by 3.

In [6]:
[ i for i in range(1,21) if i %3 !=0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

Given a list [5, 12, 17, 9, 3, 21, 30], create a new list containing only numbers greater than 10.

In [7]:
l =  [5, 12, 17, 9, 3, 21, 30]
[ i for i in l if i >10]

[12, 17, 21, 30]

Create a list of squares of only the even numbers from 1 to 10.

In [2]:
[i**2 for i in range(1, 11) if i % 2 == 0]

[4, 16, 36, 64, 100]

Given a list of words ["dog", "elephant", "cat", "rabbit"], create a new list containing only words with more than 3 letters.

In [5]:
l =  ["dog", "elephant", "cat", "rabbit"]
[i for i in l if len(i)>3]

['elephant', 'rabbit']